<h2 class="sub_title">Learn Everything About Trees, Here.</h2>

<div class="index_left_div">
  <h3 class="index_small_title">Features</h3>
  <ul>
    <li>Interactive visuals for trees</li>
    <li>All operations (find, remove, etc) supported</li>
    <li>Algorithms are explained step by step</li>
    <li>Pseudocode provided for each algorithm</li>
    <li>Supports different trees: AVL, BST, etc</li>
    <li>Can create and save trees for later use</li>
    <li>And more!</li>
  </ul>
</div>
