<h2 class="sub_title">Please login to proceed.</h2>

<form class="top_bar_form" action = "/login" method="post">
  <div class="login_div">
    Username: <input class="login_field" name="username2" type="text"/><br>
    Password: <input class="login_field" name="password2" type="password"/><br>

    <input type="hidden" name="_method" value ="put">
    <input class="top_bar_submit" type="submit" value="Login!">
  </div>
</form>
