<h1 class="title">Your Trees</h1>

<% @trees.each do |tree| %>
  <div class="tree_listing">
    <h3><a class="tree_listing_title" href="/trees/<%= tree.name %>"><%= tree.name %></a></h3>
    <p class="tree_listing_desc"><%= tree.description %></p>
    <p class="tree_listing_desc">Nodes: <%= tree.node_count %></p>
  </div>
<% end %>
